---
import Section from "../ui/Section.astro";
import type { IntroSectionContent } from "../../data/types";

interface Props {
  content: IntroSectionContent;
}

const { content } = Astro.props;
---

<Section
  id={content.id}
  topSpacing={content.topSpacing}
  surface={content.surface}
  backgroundMedia={content.backgroundMedia}
  container={content.container}
  containerClass={content.containerClass}
>
  <div class="grid grid-cols-12 gap-6">
    <div class="col-span-11 col-start-2 lg:col-span-9 lg:col-start-4">
      {content.heading ? <h2 class="h3">{content.heading}</h2> : null}
      <div class:list={[{ "mt-6": Boolean(content.heading) }]}>
        {content.body.map((paragraph) => <p class="h5">{paragraph}</p>)}
      </div>
    </div>
  </div>
</Section>
