---
import Section from "../ui/Section.astro";
import SectionIntro from "./subblocks/SectionIntro.astro";
import type { TextCenteredSectionContent } from "../../data/types";

interface Props {
  content: TextCenteredSectionContent;
}

const { content } = Astro.props;
const { title, body, bodyMargins, bodyMarginBottom } = content.intro;
---

<Section
  id={content.id}
  topSpacing={content.topSpacing}
  surface={content.surface}
  backgroundMedia={content.backgroundMedia}
  container={content.container}
  containerClass={content.containerClass}
>
  <SectionIntro
    title={title}
    body={body}
    bodyMargins={bodyMargins}
    bodyMarginBottom={bodyMarginBottom}
  />
</Section>
